@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
*{
    margin: 0;
    padding: 0; 
}
.page{
    max-width: 1280px;
    background: #2A2C2F;
    margin: 0 auto;
    font-family:"Inter", sans-serif;
}
@media screen and (max-width: 1279px){
    .page{
        max-width: 1024px;
    }
}
  
@media screen and (max-width: 1023px){
    .page{
        max-width: 768px;
    }
}
  
@media screen and(max-width: 767px){
    .page{
        max-width: 320px;
    }
}
