.photo-grid{
    margin: 0 auto;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 95px 48px 0 48px ;
    margin-left: 48px;
}
@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 14px;
    }
}
@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr ;
        grid-gap: 16px;
        margin: 90px 24px 0 24px ;
    }
}
@media screen and (max-width: 767px) {
    .photo-grid {
       grid-template-columns: 1fr;
       margin: 62px 16px 0 16px;
       grid-gap: 12px;
    }
}