.lead{
    padding-top: 90px;
    max-width: 984px;
    width: 100%;
    color: #FFF;
    margin: 0 auto;
    
}
@media screen and (max-width: 1279px) {
    .lead {
        padding-top: 80px; 
        max-width: 928px; 
        width: 100%; 
    }
}
@media screen and (max-width: 1023px) {
    .lead {
        padding-top: 70px;
        max-width: 768px; 
        width: 100%; 
    }
}
@media screen and (max-width: 767px) {
    .lead {
       width: 320px;
       margin: 0;
       width: 100%;
    }
}

