.header{
    position: relative;
    width: 984px;
    height: 44px;
    top: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
@media screen and (max-width: 1279px) {
    .header {
        width: 928px;
    }
}
@media screen and (max-width: 1023px) {
    .header {
        width: 720px;
    }
}
@media screen and  (max-width: 321px)  and (min-width: 768px){
    .header {
       width: 288px;
    }
}
@media screen and  (max-width: 321px)  {
    .header {
        max-width: 288px;
        top: 10px;
     }
}
