.place__all-paragraphs{
    font-size: 18px;
    line-height: 29.34pxpx;
    text-align: left;
}
@media screen and (max-width: 1279px) {
    .place__all-paragraphs {
        max-width: 456px;
    }
}
@media screen and(max-width: 1023px) {
    .place__all-paragraphs{
        max-width: 352px;
    }
}
@media screen and  (max-width: 767px) {
    .place__all-paragraphs{
        max-width: 288px;
    }
}