.lead__image{
    max-width: 984px;
    width: 100%;
    height: 615px;
    padding-top: 65px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .lead__image {
        width: 928px;
        height: 580px;
        padding-top: 58px;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .lead__image {
        width: 768px;
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .lead__image {
       width: 320px;
       height: auto;
       width: 100%;
    }
}


