.cover {
    color: #FFFFFF;
    position: relative;
    display: flex;
    margin-top: 80px;
    justify-content: center; 
    align-items: center;
    text-align: center;
    cursor: pointer;
    max-width: 1184px;
    width: 100%;
}
.cover:hover {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px; 
    }
}
@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        max-width: 768px; 
    }
}
@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        max-width: 320px; 
    }
}
