.cover__background {
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 1184px;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .cover__background {
        width: 1024px;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .cover__background {
       width: 768px;
       width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .cover__background {
       width: 320px;
       width: 100%;
    }
}

