.lead__caption{
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    padding-top: 5px;
    text-align: left;
    text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 20px;
    }
}
