.cover__title{
    max-width: 656px;
    width: 100%;

    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    position: absolute;
    z-index: 1;
    top: 282px;
}
@media screen and (max-width: 1279px)  {
    .cover__title{
        top: 235px;
    }
}
@media screen and (max-width: 1023px)  {
    .cover__title{
        top: 185px;
    }
}
@media screen and (max-width: 767px) {
    .cover__title {
       max-width: 288px;
       font-size: 32px;
       line-height: 35px;
       width: 100%;
       margin: auto;
       top: 53px; 
    }
}
@media screen and (max-width: 319px) {
    .cover__title {
        top: 10px; 
    }
}
