.footer{
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 30px;
    display: flex;
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
       max-width: 720px;
    }
}
@media screen and (max-width: 320px) {
    .footer {
       max-width: 165px;
       display: block;
       margin: 0;
       padding: 40px 10px;
    }
}

